<div>
  <h2>New Message</h2>
  <form>
    Message: <input type="text" ng-model="ctrl.text">
    Number: <input type="text" ng-model="ctrl.number">
    <select name="modifiers" ng-model="ctrl.mod">
  		<option value="normal">Normal</option>
  		<option value="pirate">Pirate</option>
  		<option value="yoda">Yoda</option>
  		<option value="leet">Leet</option>
  		<option value="ermahgerd">ERMAHGERD</option>
  		<option value="robot">Robot</option>
  		<option value="piglatin">PigLatin</option>
	</select>
    <button type="submit" ng-click="ctrl.handleClick()">Send</button>
  </form>
</div>
